connections.blockUser=BlockUserCommand
connections.blockUser.handler=MySqlHandler
connections.unblockUser=UnblockUserCommand
connections.unblockUser.handler=MySqlHandler
connections.addFriend=AddFriendCommand
connections.addFriend.handler=MySqlHandler
connections.acceptFriend=AcceptFriendCommand
connections.acceptFriend.handler=AddingRemovingFriendsHandler
connections.unfriendUser=UnfriendCommand
connections.unfriendUser.handler=AddingRemovingFriendsHandler
