#
#Fri Mar 23 21:42:07 EET 2018
connections.blockUser=BlockUserCommand
connections.addFriend.handler=MySqlHandler
connections.unblockUser=UnblockUserCommand
connections.unblockUser.handler=MySqlHandler
connections.acceptFriend=AcceptFriendCommand
connections.unfriendUser.handler=MySqlHandler
connections.blockUser.handler=MySqlHandler
connections.addFriend=AddFriendCommand
connections.acceptFriend.handler=MySqlHandler
connections.unfriendUser=UnfriendCommand
