#
#Tue Mar 20 23:16:13 EET 2018
unfriendUser.dbHandler=MySqlHandler
unfriendUser.command=UnfriendCommand
blockUser.dbHandler=MySqlHandler
addFriend.dbHandler=MySqlHandler
unblockUser.command=UnblockUserCommand
unblockUser.dbHandler=MySqlHandler
addFriend.command=AddFriendCommand
blockUser.command=BlockUserCommand
acceptFriend.dbHandler=MySqlHandler
acceptFriend.command=AcceptFriendCommand
