#
#Sat Apr 21 19:33:15 EET 2018
app.max_db_connections_count=10
mysql.url=jdbc\:mysql\://localhost\:3306/linkedin
mysql.database-driver=com.mysql.cj.jdbc.Driver
arangodb.password=root
db.name=linkedin
mysql.userName=root
mysql.password=root
collection.users.name=users
app.max_thread_count=20
arangodb.user=root
