#
#Tue Apr 17 05:40:19 EET 2018
app.max_db_connections_count=10
collection.users.name=users
mysql.url=jdbc\:mysql\://localhost\:3306/linkedin
mysql.password=root
app.max_thread_count=20
mysql.database-driver=com.mysql.jdbc.Driver
mysql.userName=root
arangodb.password=root
arangodb.user=root
db.name=linkedin
