#
#Tue May 01 22:33:23 EET 2018
app.max_db_connections_count=10
collection.users.name=users
mysql.url=jdbc\:mysql\://192.168.43.160\:3306/linkedin
mysql.password=root
app.max_thread_count=20
mysql.database-driver=com.mysql.cj.jdbc.Driver
mysql.userName=root
db.name=linkedin
arangodb.user=root
arangodb.password=root
arangodb.host=192.168.43.208
arangodb.port=8529